<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="9e51f0ca-3721-4571-8661-55e9054d6dde" name="TestSuite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="9e51f0ca-3721-4571-8661-55e9054d6ddefileName">TestSuite-1</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
